__pycache__
.nfs00000000007f8d5600005974
.ipynb_checkpoints
*.pycache
scripts/ztest.sh
checkpoints
checkpoints/*
logs
logs/*
results
results/*
test_results
test_results/*
result.txt
nohup.out
dataset/nordpool
dataset/nordpool/*
dataset/electricity
dataset/electricity/*
dataset/ETT-small
dataset/ETT-small/*
dataset/exchange_rate
dataset/exchange_rate/*
dataset/illness
dataset/illness/*
dataset/traffic
dataset/traffic/*
dataset/weather
dataset/weather/*
dataset/wind
dataset/wind/*

